{% extends 'base.html' %}

{%block title%} Share password {%endblock%}

{%block content%}
    {% if sent %}
        <h1>E-mail successfully sent 😍</h1>
        <p>
            {{password.title}}`s password was successfully sent
            to {{ form.cleaned_data.email_to }}
        </p>
    {% else %}
        <h1> Share {{password.title}} password</h1>
        <form method="post">
            {% csrf_token %}
            {{ form.as_p }}
            <input type="submit" value="Send password to email" >
        </form>
    {% endif %}
{%endblock%}